{% extends 'pohja.html' %}

{% block content %}

<p>Tämä sivusto on esimerkkisivusto OHSIHA-kurssille. Tarkoitus on näyttää, kuinka kehitysympäristö perustetaan sekä CRUD-ominaisuudet luodaan.
Sivustolla ei ole sen suurempaa ideaa muuta kuin, että voit lisätä kirjoituksen, muokata sitä ja poistaa sen. Kyseessä siis hyvin yksinkertainen CRUD-sivusto.  </p>
<hr />
<h3>Alla näet kirjoituksia:</h3>
<br />

{%  if user.is_authenticated %}

{% for kirjotus in object_list %}
<div class="kirjoitus">
  <h3><a href="{% url 'yksityiskohdat' kirjotus.pk %}">{{ kirjotus.otsikko}}</a></h3>
  <p>{{  kirjotus.teksti }}</p>
</div>
<hr />
{% endfor %}
{% endif %}



{% endblock %}
